@charset "UTF-8";
/** Created by UICUT.com on 2016/12/31. Contact QQ: 215611388 */
html { line-height: 1.15; -webkit-text-size-adjust: 100%; }

body { margin: 0; }

h1 { font-size: 2em; margin: 0.67em 0; }

hr { -webkit-box-sizing: content-box; box-sizing: content-box; height: 0; overflow: visible; }

pre { font-family: monospace, monospace; font-size: 1em; }

a { background-color: transparent; }

abbr[title] { border-bottom: none; text-decoration: underline; -webkit-text-decoration: underline dotted; text-decoration: underline dotted; }

b, strong { font-weight: bolder; }

code, kbd, samp { font-family: monospace, monospace; font-size: 1em; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sub { bottom: -0.25em; }

sup { top: -0.5em; }

img { border-style: none; }

button, input, optgroup, select, textarea { font-family: inherit; font-size: 100%; line-height: 1.15; margin: 0; }

button, input { overflow: visible; }

button, select { text-transform: none; }

button, [type="button"], [type="reset"], [type="submit"] { -webkit-appearance: button; }

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner { border-style: none; padding: 0; }

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring { outline: 1px dotted ButtonText; }

fieldset { padding: 0.35em 0.75em 0.625em; }

legend { -webkit-box-sizing: border-box; box-sizing: border-box; color: inherit; display: table; max-width: 100%; padding: 0; white-space: normal; }

progress { vertical-align: baseline; }

textarea { overflow: auto; }

[type="checkbox"], [type="radio"] { -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0; }

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button { height: auto; }

[type="search"] { -webkit-appearance: textfield; outline-offset: -2px; }

[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

::-webkit-file-upload-button { -webkit-appearance: button; font: inherit; }

details { display: block; }

summary { display: list-item; }

template { display: none; }

[hidden] { display: none; }

.orange { color: #ff842a; }

.blue { color: #00aaee; }

.gray { color: #b9bcc7; }

.red { color: #fc4444; }

html { font-size: calc(100vw/6.4); font-size: -webkit-calc(100vw/6.4); -webkit-text-size-adjust: 100%; }

@media screen and (min-width: 751px) { html { font-size: 75px; -webkit-text-size-adjust: 100%; } }

html { font-family: "微软雅黑", "Hiragino Sans GB", "Hiragino Sans GB W3", "宋体", Helvetica, Arial, sans-serif; }

body { font-size: 0.24rem; color: #333; background: #fff; }

table { border-collapse: collapse; border-spacing: 0; empty-cells: show; font-size: inherit; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary, audio, canvas, progress, video, body, div, address, blockquote, iframe, ul, ol, dl, dt, dd, li, dl, h1, h2, h3, h4, h5, h6, p, a, pre, table, caption, th, td, form, legend, fieldset, input, button, select, textarea { margin: 0; padding: 0; font-weight: normal; font-style: normal; font-family: inherit; -webkit-box-sizing: border-box; box-sizing: border-box; }

ul, li, ol { list-style: none; line-height: normal; }

i, address, cite, dfn, em, var { font-style: normal; }

input[type=date] { outline: none; border: none; -webkit-appearance: none; }

a { text-decoration: none; color: #333; background-color: transparent; -webkit-text-decoration-skip: objects; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

a:active, a:hover, a:focus { color: #ff842a; outline-width: 0; }

img { width: auto; max-width: 100%; width: 100%; -ms-interpolation-mode: bicubic; }

a, img, input[type=text], input[type=submit], input[type=password], textarea, select, button, footer, header, time, span, em, i { -webkit-transition: all 0.3s ease-in; -o-transition: all 0.3s ease-in; transition: all 0.3s ease-in; }

.wrap { width: 6.4rem; margin-left: auto; margin-right: auto; }

.fixed { width: 6.4rem; position: fixed; left: 50%; margin-left: -3.2rem; z-index: 999; }

.cf { *zoom: 1; }

.cf:before, .cf:after { content: ""; display: table; }

.cf:after { clear: both; }

input[type=text], input[type=password], input[type=submit], select, textarea { border: #333 1px solid; outline: none; }

input:hover[type=text], input:hover[type=password], input:hover[type=submit], select:hover, textarea:hover, input:focus[type=text], input:focus[type=password], input:focus[type=submit], select:focus, textarea:focus { border-color: #ff842a; }

input[type=text], input[type=password], input[type=submit], select { border: #eee 1px solid; height: .6rem; border-radius: .1rem; width: 100%; }

input[type=text]:focus, input[type=password]:focus, input[type=submit]:focus, select:focus { border-color: #ff842a; }

input[type=text], input[type=password] { padding: 0 .1rem; }

input[type=submit] { background-color: #ff842a; text-align: center; width: 100%; }

textarea { height: auto; min-height: 1.2rem; border: #eee 1px solid; border-radius: .1rem; padding: .1rem; width: 100%; }

input:-moz-placeholder { color: #7d7d7d; }

::-webkit-input-placeholder { color: #7d7d7d; }

input[type=text], input[type=password] { -webkit-appearance: none; }

.show { display: block !important; }

.hide { display: none !important; }

.h98 { width: 100%; height: 0.98rem; }

.bg { background-color: #f6f6f6; }

.arrow-right { background: url("images/arrow.png") right center no-repeat; background-size: .14rem .28rem; padding-right: .2rem; }

.btn { line-height: .6rem; padding: 0 .2rem; border-radius: .1rem; border: #ff842a 1px solid; text-align: center; background-color: #ff842a; color: #fff; }

.btn:hover { opacity: .8; color: #fff; }

.btn.btn-blue { background-color: #00aaee; border-color: #00aaee; }

.btn.btn-gray { background-color: #b9bcc7; border-color: #b9bcc7; }

.btn.btn-red { background-color: #fc4444; border-color: #fc4444; }

.btn.btn-orange { background-color: #ff842a; border-color: #ff842a; }

.btn.btn-white { background-color: #fff; border-color: #eee; color: #333; }

.g-operate { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.g-operate { padding: 0rem .6rem; font-size: .3rem; }

.g-operate .btn { line-height: .6rem; border-radius: .6rem; display: block; -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; border-bottom: #edccb6 .06rem solid; }

.g-form { background-color: #fff; padding: .2rem .4rem; }

.g-form .icon { width: .36rem; height: .36rem; position: absolute; left: .2rem; top: 50%; margin-top: -.18rem; }

.g-form .unit { position: absolute; line-height: .6rem; right: .2rem; top: 0; }

.g-form > li { border: #ff842a 1px solid; min-height: .6rem; position: relative; border-radius: .6rem; margin-bottom: .15rem; }

.g-form > li .input { -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; min-height: .6rem; border: none; border-radius: .6rem; border: none; padding: 0 .8rem 0 1rem; }

.g-form > li:after { content: ''; width: 1px; height: .3rem; background-color: #d6d1cd; position: absolute; top: 50%; margin-top: -.15rem; left: .8rem; }

.g-form .arrow { background: url("../images/arrow-down.png") 96% center no-repeat; background-size: .13rem .08rem; }

.mui-pciker-list li { padding-top: .15rem !important; }

.mui-poppicker { z-index: 9999; }
.imgs img{
        display: block;
        max-width: 640px;
        margin:0 auto;
    }
    .foot{
        text-align: center;
        max-width: 640px;
        margin: 0 auto;
        color: #898989;
        line-height: 20px;
        padding: 15px;
        margin-bottom: 50px;
    }
    .layui-nav{background-color:#db3a3f;padding:0;}
    .layui-nav .layui-nav-item{line-height:30px;}
    .layui-nav .layui-this:after, .layui-nav-bar, .layui-nav-tree .layui-nav-itemed:after{background-color: #ccc;height:1px;}
    .foot p:nth-of-type(2){font-size:12px;color:#ccc;}
/* ----------------------------------------------------------------------main-------------------------------------------------------------------- */
