section{display:block;}

.web_head{height: 0.6rem;width: 100%;padding: 0.3rem 0;background: #fff;}
.web_head .head_box{padding: 0 0.3rem;height: 100%;}
.web_head .web_logo{height: 100%;float: left;}
.web_head .web_logo img{height: 0.8rem;width: 2rem;position: relative;top: -0.1rem;}
.web_head .web_phone a{font-size: 0.36rem;color: #666;float: right;font-weight: bold;line-height: 0.6rem;}
.web_head .web_phone img{vertical-align: middle;width: 0.36rem;height: 0.3rem;margin-bottom: 0.08rem;margin-right: 0.05rem;}
.web_banner{width: 100%;height: 3.8rem;}

.web_popup{width: calc(100% - 0.3rem);height: 1.76rem;background: rgba(243,243,243,0.98);border-radius: 7px;position: fixed;top: 0.2rem;right: 0.15rem;z-index: 999;}
.web_popup .popup_box{padding: 0.2rem 0.3rem;}
.web_popup .popup_box a{display: block;width: 100%;height: 100%;}
.web_popup .popup_box a .popup_tle{margin-bottom: 0.15rem;}
.web_popup .popup_box a .popup_tle span{font-size: 0.26rem;}
.web_popup .popup_box a .popup_tle span:last-child{float: right;}
.web_popup .popup_box a .popup_tle span img{width: 0.36rem;height: 0.36rem;vertical-align:middle;margin-bottom: 0.03rem;margin-right: 0.05rem;}
.web_popup .popup_box a .popup_cont{}
.web_popup .popup_box a .popup_cont p{font-size: 0.23rem;}
.web_popup .popup_box a .popup_cont p:first-child{font-weight: bold;margin-bottom: 0.05rem;}
.web_popup{-webkit-animation: twinkling 10s infinite ease-in-out } 
.web_popup{ 
-webkit-animation-duration: 10s; 
animation-duration: 10s; 
-webkit-animation-fill-mode: both; 
animation-fill-mode: both;
-webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
   -ms-backface-visibility: hidden;
   backface-visibility: hidden;
 
   -webkit-perspective: 1000;
   -moz-perspective: 1000;
   -ms-perspective: 1000;
   perspective: 1000; 
} 
@-webkit-keyframes twinkling{ 
0%{ 
top: -100%; 
}

25%{
	top: 0.2rem; 
}
50%{
	top: 0.2rem; 
}
75%{
	top: 0.2rem; 
}  
100%{ 
top: -100%; 
} 
} 
@keyframes twinkling{ 
0%{ 
top: -100%; 
}

25%{
	top: 0.2rem; 
}
50%{
	top: 0.2rem; 
}
75%{
	top: 0.2rem; 
}  
100%{ 
top: -100%; 
} 
}


.footer_btn{height: 0.9rem;width: 100%;position: fixed;bottom: 0;left: 0;z-index: 999;background: #fff;}
.footer_btn .footer_l{height: 0.9rem;width:calc(100%);float: left;}
.footer_btn .footer_l a{position: relative;display: block;width: 49.8%;height: 0.9rem;line-height: 0.9rem;float: left;color: #fff;text-align: center;font-size: 0.3rem;}
.footer_btn .footer_l a:first-child{border-right: 0.02rem solid #eee;background: #ff4848;}
.footer_btn .footer_l a:last-child{background: #ff6235;}
.footer_btn .footer_l a:first-child img{width: 0.4rem;height: 0.3rem;vertical-align: middle;margin-right: 0.15rem;margin-bottom: 0.03rem;}
.footer_btn .footer_l a:last-child img{width: 0.38rem;height: 0.34rem;vertical-align: middle;margin-right: 0.15rem;margin-bottom: 0.03rem;}
.footer_btn .footer_r{height: 0.9rem;width: 0.78rem;border-left: 0.02rem solid #eee;float: right;text-align: center;background: #58a7ff;}
.footer_btn .footer_r img{width: 0.43rem;vertical-align: middle;margin-top: 0.1rem;}
.footer_btn .footer_l a i{position: absolute;top: 0.2rem;right: 0.35rem;;display: block;width: 0.3rem;height: 0.3rem;line-height: 0.3rem;border-radius: 50px;text-align: center;color: #fff;background: red;font-size: 0.2rem;}
.footer_btn .footer_l a i{ 
-webkit-animation: opacity 1s infinite ease-in-out 
} 
.footer_btn .footer_l a i{ 
-webkit-animation-duration: 1s; 
animation-duration: 1s; 
-webkit-animation-fill-mode: both; 
animation-fill-mode: both 
} 
@-webkit-keyframes opacity{ 
0%{ 
opacity: 0; 
} 
100%{ 
opacity: 1; 
} 
} 
@keyframes twinkling{ 
0%{ 
opacity: 0; 
} 
100%{ 
opacity: 1; 
} 
}
